{% extends "common.html" %}
    {% block title %}Django Market - Password Reset{% endblock title %}
    {% load static %}
    {% load crispy_forms_tags %}


    {% block content %}
        <div class="container my-5">
            <form method="post" class="container rounded col-md-5 border p-3">
                {% csrf_token %}
                <h4 class="text-center my-2">Enter new password</h4>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                {{form|crispy}}
                <button class="btn btn-dark w-100">Change</button>
            </form>
        </div>
    {% endblock %}