{% extends "common.html" %}
    {% block title %}Django Market - Password Reset{% endblock title %}
    {% load static %}
    {% load crispy_forms_tags %}


    {% block content %}
        <div class="container my-5">
            <form method="post" class="container rounded col-md-5 border p-3">
                {% csrf_token %}
                <h4 class="text-center my-2">Password Reset</h4>
                <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                {{form|crispy}}
                <button class="btn btn-dark w-100">Send</button>
            </form>
        </div>
    {% endblock %}