{% extends "common.html" %}
    {% block title %}Django Market - Home{% endblock title %}
    {% load static %}

    {% block content %}
        <div class="container">
            <h3 class="text-center my-3">Products</h3>
            <a href="{% url "add-product" %}" class="btn btn-sm btn-dark">Add Product</a>
            <div class="row my-2">
                {% for product in products %}
                <div class="col-12 col-md-3 my-2">
                    <div class="card">
                        {% if product.image %}
                            <img src="{{product.image.url}}" alt="" class="card-img-top">
                        {% else %}
                            <img src="" alt="" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{product.title}}</h5>
                            <p class="card-text">
                                <p>{{product.description}}</p>
                                <span>${{product.price}} - {{product.quantity}} left</span>
                            </p>
                            <a href="" class="btn btn-sm btn-dark">Add to cart</a>
                            <a href="" class="btn btn-sm btn-primary">Edit</a>
                            <a href="" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>

    {% endblock %}